@charset 'UTF-8';

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

nav ul {
    margin: 0;
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    padding: 20px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
h1 {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    display: block;
    width: 100%;
}
.main {
    height: 100vh;
    background-image: url('../images/background.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.main .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.main .wrapper .align {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    max-width: 80%;
    padding: 10px;
}
.main .profile {
    max-width: 150px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 5px solid rgba( 255, 255, 255, 0.6 );
}
.link {
    color: #fff;
    display: block;
    font-size: 1rem;
    margin: 0 15px;
    padding: 8px;
    text-decoration: none;
}
.link [class*="fa"] {
    font-size: 2em;
    vertical-align: middle;
    margin-right: 5px;
}

@media (min-width: 768px) {
    .link {
        display: inline-block;
        margin: 0 5px;
    }
}